In [30]:
import pickle
import numpy as np
import pandas as pd

In [3]:
with open('data/generated/cell_all_train_shap.pkl', 'rb') as f:
    shap_values = pickle.load(f)

In [9]:
shap_values = np.array(shap_values)

In [10]:
shap_values.shape

(2, 274874, 6)

In [28]:
print(shap_values[0].sum(axis=0))

[  2963.89222489  -3303.06530391 105267.89930763  97472.88791762
  20472.7037883   -7331.81871203]

In [35]:
cols = list(pd.read_csv('data/dataset_full.csv', index_col=0).columns[2:])

In [39]:
pd.DataFrame(shap_values.sum(axis=1), columns=cols)

,Number of Available\nTCH,HR Usage Rate,"TCH Blocking Rate, BH","TCH Traffic (Erl), BH",Param 1,Param 2
0,2963.892225,-3303.065304,105267.899308,97472.887918,20472.703788,-7331.818712
1,9874.398842,2878.083584,11244.290493,3813.399347,-15590.908540,19126.080130

In [44]:
fi_classes = pd.DataFrame(shap_values.__abs__().sum(axis=1), columns=cols)
fi_classes

,Number of Available\nTCH,HR Usage Rate,"TCH Blocking Rate, BH","TCH Traffic (Erl), BH",Param 1,Param 2
0,78019.804958,12584.933876,112457.853556,186106.869810,59337.032291,139496.816064
1,21796.064220,5512.003193,19068.372307,18709.857511,32031.532064,29615.045761

In [61]:
fi_classes.to_csv('data/generated/cell_fi_classes.csv')

In [60]:
fi = pd.DataFrame([shap_values.__abs__().sum(axis=0).sum(axis=0)], columns=cols)
fi

,Number of Available\nTCH,HR Usage Rate,"TCH Blocking Rate, BH","TCH Traffic (Erl), BH",Param 1,Param 2
0,99815.869179,18096.937069,131526.225863,204816.727321,91368.564355,169111.861825

In [62]:
fi.to_csv('data/generated/cell_fi.csv')